@using IT_Project_manager.Controllers;

@model IT_Project_manager.Models.MembersViewModel;


@{
    ViewData["Title"] = "Create confirmation";
}


<h1 style="color:green" class="p-3 mb-2">Sucess!</h1>

<div>
    <h3>Creation details</h3>
    <ul>
        <li>Name: @Model.Name</li>
        <li>Surname: @Model.Surname</li>
        <li>Email: @Model.Email</li>
        <li>Date of birth: @Model.DateOfBirth</li>
        
    </ul>
</div>


<div>

    <a class="btn btn-primary" asp-action="MemberForm" asp-controller="Members">Create another</a>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Members">Members</a>

</div>

