@using IT_Project_manager.Controllers;

@model IT_Project_manager.Models.MembersViewModel;


@{
    ViewData["Title"] = "Create confirmation";
}

<header>
    <h1 style="color:green" class="p-3 mb-2">Sucess!</h1>
</header>

<hr />
<div>
    <h3>Creation details</h3>
    <ul>
        <li><b>Name:</b> @Model.Name</li>
        <li><b>Surname:</b> @Model.Surname</li>
        <li><b>Email::</b> @Model.Email</li>
        <li><b>Date of birth:</b> @Model.DateOfBirth.ToString("yyyy-MM-dd")</li>
    </ul>
</div>
<hr />

<div>
    <a class="btn btn-outline-primary" asp-action="MemberForm" asp-controller="Members">Create another</a>
    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Members">Members</a>
</div>



