@using IT_Project_manager;
@model List<Member>

@{
    ViewData["Title"] = "Members list";
}
<h1> Members</h1>

<table class="table">
    @foreach (var member in @Model)
    {
        <tr>
            <td>@member.Id</td>
            <td>@member.Email</td>
            <td>@member.Name</td>
            <td>@member.Surname</td>
        </tr>

    }
</table>
