@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome.</h1><br />
    <h2>This is a application for managing team members.</h2>
    <h3>Application is still in progress. </h3><br />
                        
</div>
<div>
    <h3>Future functions will include operations like:</h3>
    <ul style="list-style-type:disclosure-open">
        <li>Adding team, with managers in it</li>
        <li>Showing the deadline of team's work</li>
        <li>Showing if members were together in the same team before</li>
    </ul>
</div>
