@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

    <div class="text-center">
        <h1 style="text-align: center;">Welcome!</h1>
        <h2>This is a application for managing team members.</h2>
    </div>

    <div>
        <h3>Future functions:</h3>
        <ul style="list-style-type: disc">
            <li>Adding team, with managers in it</li>
            <li>Showing the deadline of team's work</li>
        </ul>
    </div>
</body>